<%= form_with url: '/dashboard', local: true do |f| %>
  <%= f.label :email, 'email' %>
  <%= f.text_field :email %>
  <%= f.label :password, 'password' %>
  <%= f.password_field :password %>
  <%= f.submit 'Submit' %>
<% end %>
  <a class="nav-link active" aria-current="page" href="/auth/google_oauth2">sign in with Google</a>