<h1>All Shelters</h1>

<% if @shelters.first != nil %>
  <% @shelters.each do |shelter| %>

  <p><%= shelter.name %></p>
  <p><%= shelter.address %></p>
  <p><%= shelter.city %></p>
  <p><%= shelter.zipcode %></p>
  <p><%= shelter.website %></p>
  <br>
  <br>
  <% end %>
<% end %>
