<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <center><h1>All Shelters</h1></center>
  </head>
  <div class="container">
    <div class="row">
      <body>
        <% if @shelters.first != nil %>
          <% @shelters.each do |shelter| %>
            <blockquote>
              <strong><h4><p><%= shelter.name %></p></h4></strong>
              <p><strong>Address: </strong><%= shelter.address %>, <%= shelter.city %> <%= shelter.zipcode %></p>
              <p><strong>Shelter website: </strong><%= shelter.website %></p>
              <hr>
            </blockquote>
          <% end %>
        <% end %>
      </body>
    </div>
  </div>
</html>
