

<h1 style="color: #0dcaf0;"><%= @shelter.name %></h1>
<br>
<p><strong>Address:</strong> <%= @shelter.address %>,
<%= @shelter.city %>
<%= @shelter.zipcode %></p>
<p><strong>Website:</strong> <%= @shelter.website %></p>
