<p>Directions</p>
<%= form_with url: "/shelters/#{@shelter_name_hyphen}", method: :get, local: true do |f| %>
<%= f.text_field :address, placeholder: 'current street name' %>
<%= f.text_field :zipcode, placeholder: 'enter zipcode' %>
<%= f.button :search %>
<% end %>

<h1 style="color: #0dcaf0;"><%= @shelter.name %></h1>
<br>
<p><strong>Address:</strong> <%= @shelter.address %>,
<%= @shelter.city %>
<%= @shelter.zipcode %></p>
<p><strong>Website:</strong> <%= @shelter.website %></p>
